<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../style.css" />

    <title>Trang thông báo</title>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="../index.html"
          ><img
            src="../img/logo.png"
            alt="logo"
            width="30"
            height="30"
            style="margin-right: 10px"
          />Dzoãn Xuân Thanh's Blog</a
        >

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav justify-content-around w-100">
            <li class="nav-item">
              <a class="nav-link active" href="#">GIỚI THIỆU</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="lecture.html"
                >TÀI LIỆU GIẢNG DẠY</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="announcement.html">THÔNG BÁO</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="news.html">TIN TỨC</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="hire.html">THÔNG TIN VIỆC LÀM</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="course.html">KHOÁ HỌC</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">LIÊN HỆ</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-5 mb-5 p-3" style="border-bottom: 3px solid black">
      <h1 style="text-align: center">Trang thông báo</h1>
    </div>

    <div class="container">
      <div class="card mb-5">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="../img/demo-img.jpg"
              class="img-fluid rounded-start"
              alt="demo"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">Tiêu đề thông báo</h3>
              <p class="card-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Laudantium debitis non nostrum fuga possimus, eius facere
                dolorem nam, quaerat doloremque alias voluptates natus pariatur
                culpa autem, aliquid quae aspernatur deleniti. Quas, repellendus
                suscipit? Enim aliquid totam distinctio unde illum corporis
                similique delectus vel laboriosam, odio porro a ea qui
                temporibus numquam, beatae eius impedit mollitia. Nesciunt
                dolorem maxime sapiente commodi.
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
              <div class="more-info mt-3">
                <a href="#">CHI TIẾT >>></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-5">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="../img/demo-img.jpg"
              class="img-fluid rounded-start"
              alt="demo"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">Tiêu đề thông báo</h3>
              <p class="card-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Laudantium debitis non nostrum fuga possimus, eius facere
                dolorem nam, quaerat doloremque alias voluptates natus pariatur
                culpa autem, aliquid quae aspernatur deleniti. Quas, repellendus
                suscipit? Enim aliquid totam distinctio unde illum corporis
                similique delectus vel laboriosam, odio porro a ea qui
                temporibus numquam, beatae eius impedit mollitia. Nesciunt
                dolorem maxime sapiente commodi.
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
              <div class="more-info mt-3">
                <a href="#">CHI TIẾT >>></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-5">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="../img/demo-img.jpg"
              class="img-fluid rounded-start"
              alt="demo"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">Tiêu đề thông báo</h3>
              <p class="card-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Laudantium debitis non nostrum fuga possimus, eius facere
                dolorem nam, quaerat doloremque alias voluptates natus pariatur
                culpa autem, aliquid quae aspernatur deleniti. Quas, repellendus
                suscipit? Enim aliquid totam distinctio unde illum corporis
                similique delectus vel laboriosam, odio porro a ea qui
                temporibus numquam, beatae eius impedit mollitia. Nesciunt
                dolorem maxime sapiente commodi.
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
              <div class="more-info mt-3">
                <a href="#">CHI TIẾT >>></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
